

body{
  height: auto;
  width: auto;
}

.container {
  height: 100%;
  width: 101%;
  /*float: left;*/
  margin: 0 0 80px 0;
  /*position: absolute;*/
}

.pixel {
  height: 5px;
  width: 5px;
  border: 1px solid black;
  padding: 1%;
  margin: 0%;
  float: left;
  display: inline-block;
}

/*button {*/
  /*height: 45px;
  width: 45px;
  margin: 15px 20px 20px 15px;
  border: 1px solid black;
  display: inline-block;
  position:relative;
  float: left;*/
